body,
html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 1vw;
    height: 1vh;
}

.floating-nav {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 10px 30px;
    z-index: 20;
}

.floating-nav ul {
    list-style: none;
    margin: 0;
    padding: 3px;
    display: flex;
    gap: 50px;
}

.floating-nav ul li {
    display: inline;
}

.floating-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.floating-nav ul li a:hover {
    color: #68d391;
}

.content {
    background-color: rgb(27, 35, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 99%;
    overflow: hidden;
}

.main {
    align-content: left;
    margin-left: 3em;
}

.text-container {
    color: white;
    position: absolute;
    white-space: nowrap;
}

.name-size {
    font-size: 75px;
    position: absolute;
    max-width: 100%;
    margin-top: -200px;
}

.name {
    color: rgb(136, 221, 236);
}

.sub-heading {
    color: rgb(136, 221, 236);
    font-size: 60px;
}

.circuit-no-fill {
    max-width: 20%;
    height: auto;
    display: block;
    scale: 70%;
    margin-right: 1em;
    fill: none;
    stroke: rgb(100, 247, 131);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 2px;
    stroke-miterlimit: 10;
    opacity: 70%;
    animation-delay: 200ms;
    animation-direction: alternate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: dash;
    animation-timing-function: ease-in-out;
}

.experiances {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.projects {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill-opacity: 0;
    }
    to {
        fill-opacity: 1;
    }
}

@keyframes drawPath {
    to {
        stroke-dashoffset: -100;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
.contact-me {
    padding-bottom: 30px;
}
